.user-page {
  margin-top: 3%;
}

.card-header {
  background-color: cadetblue;
  color: white;
}

.card {
  box-shadow: darkgray 5px 5px;
}

.manage-block {
  margin-top: 2%;
}

.card-block-category {
  padding-left: 3%;
}