<div class="card manage-block">
  <div class="card-header">
    <h5> <%= capital.value %></h5>
  </div>
  <p class="card-block card-block-category">
    Note: <strong><%= capital.note %></strong>
  </p>
  <div class="card-footer">
    <%= link_to 'Edit', edit_user_capital_path(current_user, capital), class: 'btn btn-outline-warning category-link' %>
    <%= link_to 'Delete', user_capital_path(current_user, capital), method: :delete,
                data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger category-link' %>
  </div>
</div>
