<%= form_tag user_report_path, method: 'get', remote: true do %>
    <div class="form-group">
      <%= label_tag 'Select category:' %>
      <%= grouped_collection_select :capital, :category_id,
                                    [['Income',@incomes], ['Expense', @expenses]],
                                    :second, :first, :id, :title, include_blank: true  %>
    </div>
    <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-secondary w-50' %>
<% end %>