<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="container category-form">
        <h3><%= t('capital.edit') %></h3>
        <hr>
        <%= render 'form' %>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>