<header>
  <nav class="navbar navbar-light" style="background-color:cadetblue;">
    <div class="container">
      <a class="navbar-brand navbar-light" style="color:white;" href=<%= root_path %>>PeiTracking</a>
      <div class="nav-item">
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" style="background-color: cadetblue; color: white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <div class="dropdown-divider"></div>
            <%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>