<header>
  <nav class="navbar navbar-default header-style">
    <div class="container">
      <a class="navbar-brand navbar-default btn btn-info header-style" href=<%= root_path %>>PeiTracking</a>
      <div class="nav-item">
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle header-style" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </button>
          <div class="dropdown-menu dropdown-menu-user">
            <%= link_to 'Add category', new_user_category_path(current_user), class: 'dropdown-item dropdown-item-user' %>
            <button class="dropdown-item dropdown-item-user" type="button">Add income</button>
            <button class="dropdown-item dropdown-item-user" type="button">Add expense</button>
            <div class="dropdown-divider"></div>
            <%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: 'dropdown-item dropdown-item-user' %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
