<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
      <h2><%= t('report.title') %></h2>
      <hr>
      <%= render 'capitals/filter_form' %>
      <hr>
      <%= render 'capitals/table' %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>