<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="container category-form">
        <h3>New category</h3>
        <hr>
        <% if @category.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@category.errors.count, 'error') %> :
              </h2>
              <ul>
                <% @category.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
            <hr>
        <% end %>

        <%= render 'form' %>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>