<div class="container-fluid user-page">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-header">
          <strong>Hello!</strong>
        </div>
        <div class="card-block">
          <br>
          <h3>
            <%= @user.email %>
          </h3>
          <br>
        </div>
        <div class="card-footer">
          You can manage your finances, as well as
          <%= link_to 'look at the report', user_report_path(current_user) %>.
        </div>
      </div>
      <div class="manage-block row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3>Categories</h3>
            </div>
            <% if current_user.categories.empty? %>
                <div class="card-footer text-muted">
                  You don't have categories.
                </div>
            <% end %>
          </div>
          <%= render partial: 'categories/category', collection: @user.categories %>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3>Transactions</h3>
            </div>
            <% if current_user.capitals.empty? %>
                <div class="card-footer text-muted">
                  You don't have transactions.
                </div>
            <% end %>
          </div>
          <%= render partial: 'capitals/capital', collection: @user.capitals %>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>